body{
    color: white;
    background-color: rgb(0, 140, 255);
}
h2{
    font-family: 'Pacifico', cursive;
}
p{
    font-family: 'Acme', sans-serif;
}
h3{
    font-family: 'Lobster Two', cursive;
}
h4{
    font-family: 'Convergence', sans-serif;
}
h5{
    font-size: 40px;
    font-family: 'Engagement', cursive;
}
#camera{
width: 350px;
height: 300px;
    }
#click{
    background-color: darkblue;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 30px;
    height: 40px;
    width: 200px;
}
#id{
    background-color: darkblue;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif; 
    border-radius: 30px;
    height: 40px;
    width: 200px;
}